{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}   {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
            <h1>Admin Panel</h1>
                  <!-- Контейнер навігації -->
    <div class="navbar">
        <a href="{% url 'main_page' %}" class="nav-button">Главная</a>
        <a href="{% url 'AI1_page' %}" class="nav-button">Нейронная сеть 1</a>
        <a href="{% url 'AI2_page' %}" class="nav-button">Нейронная сеть 2</a>
    </div>
</header>

    {% block content %}

    {% endblock %}
</body>
</html>
