{% extends 'main/layout.html' %}

{% block title %} main page  {% endblock %}

{% block content %}

    <div class="container">
        <h1>Інструкція користувача</h1>
        <ol class="instructions">
            <li>
                <strong>Завантажте репозиторій з GitHub.</strong>
            </li>
            <li>
                <strong>Створіть віртуальне середовище та встановіть необхідні бібліотеки:</strong>
                <ul>
                    <li>Створіть віртуальне середовище за допомогою команди:
                        <code>python3 -m venv venv</code>
                    </li>
                    <li>Активуйте віртуальне середовище:
                        <ul>
                            <li>На Windows: <code>venv\Scripts\activate</code></li>
                            <li>На Unix/Linux: <code>source venv/bin/activate</code></li>
                        </ul>
                    </li>
                    <li>Встановіть необхідні бібліотеки з файлу <code>requirements.txt</code> за допомогою команди:
                        <code>pip install -r requirements.txt</code>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Помістіть ваш датасет у папку <code>input_data_from_user</code>:</strong>
                <p>Переконайтесь, що ваш CSV-файл містить наступні непорожні стовпці:</p>
                <ul>
                    <li><code>src_ip, dst_ip, src_port, dst_port, protocol, timestamp, flow_duration, tot_fwd_pkts, tot_bwd_pkts, flow_byts_per_sec, flow_pkts_per_sec, fwd_iat_mean, bwd_iat_mean, down_up_ratio, pkt_size_avg, fwd_pkts_per_sec, bwd_pkts_per_sec, label</code></li>
                </ul>
            </li>
            <li>
                <strong>Створіть базу даних та адміністратора:</strong>
                <ul>
                    <li>Виконайте міграції для створення бази даних за допомогою команди:
                        <code>python manage.py migrate</code>
                    </li>
                    <li>Створіть користувача-адміністратора для доступу до адмінпанелі:
                        <code>python manage.py createsuperuser</code>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Запустіть сервер Django:</strong>
                <ul>
                    <li>Переконайтесь, що ви знаходитесь у директорії з файлом <code>manage.py</code>. Запустіть сервер за допомогою команди:
                        <code>python manage.py runserver</code>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Налаштуйте ваги в адмінпанелі:</strong>
                <ul>
                    <li>Перейдіть до адмінпанелі за адресою <code>http://localhost:8000/admin/</code>.</li>
                    <li>Увійдіть використовуючи облікові дані адміністратора.</li>
                    <li>Додайте всі необхідні ваги зі списку та встановіть їх початкові значення.</li>
                </ul>
            </li>
            <li>
                <strong>Запустіть навчання моделі:</strong>
                <ul>
                    <li>Через веб-інтерфейс:
                        <ul>
                            <li>Перейдіть на сторінку запуску навчання.</li>
                            <li>Натисніть кнопку <strong>ПОЧАТИ НАВЧАННЯ</strong>.</li>
                        </ul>
                    </li>
                    <li>Через консоль:
                        <code>python manage.py train_model --epochs 1 --batch_size 512 --chunk_size 80000</code>
                        <p>де:</p>
                        <ul>
                            <li><code>--epochs</code> — кількість епох навчання.</li>
                            <li><code>--batch_size</code> — розмір пакету даних.</li>
                            <li><code>--chunk_size</code> — розмір частини датасету.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Виконайте тестування моделі:</strong>
                <ul>
                    <li>Через веб-інтерфейс:
                        <ul>
                            <li>Перейдіть на сторінку запуску тестування.</li>
                            <li>Натисніть кнопку <strong>ПОЧАТИ ТЕСТУВАННЯ</strong>.</li>
                        </ul>
                    </li>
                    <li>Через консоль:
                        <code>python manage.py test_model --batch_size 512 --chunk_size 50000</code>
                        <p>де:</p>
                        <ul>
                            <li><code>--batch_size</code> — розмір пакету даних.</li>
                            <li><code>--chunk_size</code> — розмір тестового датасету.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Перегляньте результати навчання та тестування:</strong>
                <ul>
                    <li>Точність (Accuracy): Частка правильних прогнозів від загальної кількості прогнозів. Однак, точність може бути недостатньою у випадках, коли класи сильно незбалансовані.</li>
                    <li>Повнота (Recall): Частка правильно виявлених атак від загальної кількості атак. Важливо забезпечити високу повноту, щоб знизити ризик пропуску реальних атак.</li>
                    <li>Прецизійність (Precision): Частка правильних виявлених атак від загальної кількості виявлених атак. Висока прецизійність важлива для зменшення кількості нерозпізнаних атак.</li>
                    <li>F1-міра: Гармонійне середнє між прецизійністю і повнотою, що дозволяє збалансовано оцінити модель у випадках, коли необхідно враховувати обидва ці показники.</li>
                    <li>Матриця плутанини (Confusion Matrix): Використовується для детального аналізу результатів класифікації, дозволяючи оцінити кількість правильних і неправильних класифікацій для кожного з класів.</li>
                </ul>
            </li>
            <li>
                <strong>Примітки:</strong>
                <ul>
                    <li>Рекомендується запускати навчання та тестування через консоль для детального спостереження процесу.</li>
                    <li>Переконайтесь, що всі залежності та версії бібліотек відповідають вимогам проекту.</li>
                </ul>
            </li>
        </ol>
    </div>


{% endblock %}