{% extends 'main/layout.html' %}

{% block title %} AI_1  {% endblock %}

{% block content %}
    <div class="container">

        <div class="main-content">

            <section class="left-panel">
              <div class="data-item">
                <span class="weight"><h2>Дані, з якими працюємо: </h2></span>
                <span class="weight"><h2>  Ваги:</h2></span>
            </div>

            <div>
                {% for weight in weights %}
                    <div class="data-item">
                        <input type="checkbox" {% if weight.is_active %}checked{% endif %}> {{ weight.get_attribute_display }}
                        <a> {{ weight.weight }} </a>
                    </div>
                {% empty %}
                    <p>Нет доступных записей в weights.</p>
                {% endfor %}
            </div>


            </section>


            <section class="right-panel">
                 <h2>Список даних:</h2>
                 <form id="range-form" method="get" action="">
                    <a>Від: </a>
                    <input type="number" name="start" id="start-input" class="weight-input" value="{{ start }}" min="0" required>
                    <a> до: </a>
                    <input type="number" name="end" id="end-input" class="weight-input" value="{{ end }}" min="1" required>
                    <button type="submit">Отобразить данные</button>
                </form>

                <!-- Прокручиваемый контейнер для списка данных с фиксированными размерами -->
                <div class="scrollable-data-table">
                    <table>
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>src_ip</th>
                                <th>dst_ip</th>
                                <th>src_port</th>
                                <th>dst_port</th>
                                <th>timestamp</th>
                                <th>flow_duration</th>
                                <th>tot_fwd_pkts</th>
                                <th>tot_bwd_pkts</th>
                                <th>flow_byts_per_sec</th>
                                <th>flow_pkts_per_sec</th>
                                <th>fwd_iat_mean</th>
                                <th>bwd_iat_mean</th>
                                <th>protocol</th>
                                <th>down_up_ratio</th>
                                <th>pkt_size_avg</th>
                                <th>fwd_pkts_per_sec</th>
                                <th>bwd_pkts_per_sec</th>
                                <th>label</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in datas %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.src_ip }}</td>
                                <td>{{ item.dst_ip }}</td>
                                <td>{{ item.src_port }}</td>
                                <td>{{ item.dst_port }}</td>
                                <td>{{ item.timestamp }}</td>
                                <td>{{ item.flow_duration }}</td>
                                <td>{{ item.tot_fwd_pkts }}</td>
                                <td>{{ item.tot_bwd_pkts }}</td>
                                <td>{{ item.flow_byts_per_sec }}</td>
                                <td>{{ item.flow_pkts_per_sec }}</td>
                                <td>{{ item.fwd_iat_mean }}</td>
                                <td>{{ item.bwd_iat_mean }}</td>
                                <td>{{ item.protocol }}</td>
                                <td>{{ item.down_up_ratio }}</td>
                                <td>{{ item.pkt_size_avg }}</td>
                                <td>{{ item.fwd_pkts_per_sec }}</td>
                                <td>{{ item.bwd_pkts_per_sec }}</td>
                                <td>{{ item.label }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>              

              <div class="navbar">
                <a href="{% url 'main_page' %}" class="nav-button">Почати навчання</a>
                <a href="{% url 'AI1_page' %}" class="nav-button">Почати тестування</a>
              </div>
            </section>


<!--
        <section class="analytics">
            <h2>Аналітика</h2>
    <canvas id="attackChart" width="600" height="200"></canvas>
            <div class="chart">
                <script>
        // Данные для графика: количество атак за каждый год
        const labels = ['2020', '2021', '2022', '2023'];  // Годы
        const attackData = [500, 750, 1200, 1500];        // Количество атак за каждый год

        // Настройки для Chart.js
        const ctx = document.getElementById('attackChart').getContext('2d');
        const attackChart = new Chart(ctx, {
            type: 'line',  // Тип графика - линейный
            data: {
                labels: labels,  // Подписи по оси X (годы)
                datasets: [{
                    label: 'Number of Attacks',
                    data: attackData,  // Данные по оси Y (количество атак)
                    borderColor: 'green',             // Цвет линии
                    backgroundColor: 'rgba(0, 255, 0, 0.2)',  // Цвет под графиком
                    borderWidth: 2                    // Толщина линии
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true  // Начинаем ось Y с нуля
                    }
                }
            }
        });
    </script>
            </div>
        </section>

-->
    </div>

{% endblock %}
